extends layout

block content
  h1= title
  - var results = Sams_results
  div.container-fluid 
    div.row 
        each item, index in results
            div.col-sm-2(onclick=`buy(${index})`)  Item Name: #{item["Sams_Item"]} <br> Item Brand: #{item["Sams_Brand"]} <br> Quantity: #{item["Sams_quantity"]} <br> Item Price: #{item["Sams_Item_Price"]} <br> Sams Area: #{item["Sams_area"]}
  script.
    function buy(index) {
      alert("You purchased item " + index)
    }